
@using TaskApp.Domain.Entities
@using TaskApp.Domain.Concrete
@model IEnumerable<TaskItem>
@{
    ViewBag.Title = "Index";
}

<h2>List</h2>
@ViewBag.Content

@foreach (var task in Model)
{
    <p>@task.Description</p>
}
