@using TaskApp.WebUI.ViewModels
@model TaskTree

<div class="well">
    @Model.Name
    @if (Model.Children != null)
    {
        foreach (TaskTree item in Model.Children)
        {
            @Html.Partial("TestTreeSummary", item)
        }
    }

</div>
